* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text_color {
    color: #fff;
}

.el-button--primary:focus {
    background-color: #409EFF;
    border-color: #409EFF;
    color: #FFF;
}

.el-button--primary:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #FFF;
}

.el-button--primary.is-active,
.el-button--primary:active {
    background: #3a8ee6;
    border-color: #3a8ee6;
    color: #FFF;
}

.el-button--success:focus {
    background-color: #67C23A;
    border-color: #67C23A;
    color: #FFF;
}

.el-button--success:hover {
    background: #85ce61;
    border-color: #85ce61;
    color: #FFF;
}

.el-button--success.is-active,
.el-button--success:active {
    background: #5daf34;
    border-color: #5daf34;
    color: #FFF;
}

.el-table .el-table__body td .cell:empty::after,
.el-table .el-table__body td .cell>span:empty::after,
.el-table .el-table__body td .cell .approval:empty::after,
.el-table .el-table__body td .cell div:empty::after,
.el-table .el-table__body td .cell .line-limit-length:empty::after {
    content: '--';
}

.headerBg {
    /* 设置表头背景颜色 */
    background: #daebfb !important;
}